$white: #FFF;
$black: #000;
$lightgrey: #F0F0F0;
$gray: #808080;

$body-bg: #FFFFFF;
$primary: #DE683C;
$darkprimary: #130d20;
$secondary: #b5e7a0;
$tertiary: #e3eaa7;
$warning: #ee6f3d;
$danger: red;
$light: #F5F5F5;

$font-family-base: 'Montserrat', sans-serif;









